html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navegacion {
    background-color: rgba(255, 40, 0,0.5);
    border-radius: 10px;
}
.navegacion2 {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    color:black;
}
.navegacion3 {
    background-color: rgba(118, 252, 71,0.5);
    border-radius: 10px;
}
.navegacion4 {
    background-color: rgba(71, 252, 186,0.5);
    border-radius: 10px;
}
.navegacion:hover {
    background-color: rgba(255, 40, 0,1);
    border-radius: 10px;
    cursor:pointer;
    transition:1s;
}

.navegacion2:hover {
    background-color: rgba(0,0,0,1);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 1s;
}

.navegacion3:hover {
    background-color: rgba(118, 252, 71,1);
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacion4:hover {
    background-color: rgba(71, 252, 186,1);
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.Contenedor_Botones{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:15px;
}